<!-- User is directed to this page when they try to delete a location that still has products in it -->

<center><h2>These objects are still at the <%= @del.name %>.  Please move or delete them before deleting this location.</h2>

<!-- Shows the user which products are still at the location they tried to delete -->
<table>
  <tr>
    <td>Category</td>
    <td>Name</td>
    <td>Cost</td>
    <td>Quantity</td>
    <td>Delete?</td>
    <td>Modify?</td>
  </tr>
  <form action="/modify_or_delete_products">
  <% Product.all_at_location(@del.id).each do |y| %>
    <tr>
      <td><%= Category.find(y.category_id).type %></td>
      <td><%= y.name%></td> 
      <td><%= y.cost%></td> 
      <td><%= y.quantity%></td>
      <td><input type="checkbox" name="delete_id[]" value="<%= y.id %>"></td>
      <td><input type="radio" name="modify_id" value="<%= y.id %>"></td>
    </tr>
  <%end%>
</table><br><br>
<button type="submit">Click to delete or modify</button></form><Br><br>
  
<!-- Provides links to modify or delete products -->
<!-- Sends user there with location id attached to highlight problematic products -->  
<!-- <a href="/modify_product_form/<%= @del.id %>">Move a product</a><br>
<a href="/delete_product_form/<%= @del.id %>">Delete selected product(s)</a><br> -->

<a href="/menu">Return to menu</a>