<!-- Adds various modifiers to notify a user that their most recent action -->
<!-- completed successfully. -->

<% if @del.is_a?(Array) %>
  <% @del.each do |x|%>
    <%= x.name %> was deleted<br>
  <% end %>
<%elsif @del%>
  <% @del.name %> was deleted
<% end %>


<% if @new_product %>
  <%= @new_product.name.capitalize %> was added to the <%= Location.find(@new_product.location_id).name %>
<% end %>

<% if @location%>
  <%= @location.name %> was added
<% end %>

<% if @modify%>
  <%= @modify.name %> was modified
<% end %>

<h1>What would you like to do?</h1>
<ul>
<li><a href="/new_product_form">Add a new product</a> </li>
<li><a href="/delete_product_form/:">Delete a product</a></li>
<li><a href="/modify_product_form/:">Modify a product</a></li>
<li><a href="/show_products">Show all products</a></li>
<li><a href="/new_location_form">Add a location</a></li>
<li><a href="/delete_location_form">Delete a location</a></li>
<li><a href="/modify_location_form">Modify a location</a></li>
<li><a href="/show_locations">See all locations</a></li>
<li><a href="/product_display_by_category">Display products by category</a></li>
<li><a href="/product_display_by_location">Display products by location</a></li>
<li><a href="/inventory_values">Inventory values</a></li>
<li><a href="/add_new_user">Add a new user</a></li>
</ul>