<h1>Which product would you like to modify?</h1>
<table>
  <tr><td>ID</td><td> Category ID </td><td> Location ID </td><td> Name </td><td> Cost </td><td> Quantity</td></tr>
<form action="/modify_product_form_2">
  <% Product.all.each do |x| %>
  <tr><td><input type="radio" name="id" value="<%= x.id %>"><%= x.id%> </td>
    <td> <%= x.category_id%> </td>
    <td> <%= x.location_id%> </td>
    <td> <%= x.name %> </td>
    <td> <%= x.cost %></td>
    <td> <%= x.quantity %></td></tr>
  <%end%>
  <input type="submit">
</form>
