<!-- User is able to add a new product -->

<!-- If this variable is true then notifies the user of the problem -->
<% if @animal_in_non_retail %> <h3>Animals may not be added to non-retail locations!</h3><%end%>

<!-- Creates a form for user to enter a new product's information -->
<h1>Enter new product information</h1>

<ul>
  <form action="/add_new_product">

<!-- Creates a dropdown menu with category options-->
<!-- Selects the category the product was in if user was sent back -->
    <li>Category ID - 
      <select name="category_id">
        <% Category.all.each do |y|%>
          <option value="<%= y.id %>" <% if params["category_id"].to_i == y.id %> selected <% end %>>
            <%= y.type.capitalize%>
          </option>
        <%end%>
  </select></li>
  
<!-- Creates a dropdown menu with location options -->
<!-- Selects the location the product was in if the user was sent back -->
<li>Location ID - <select name="location_id">
  <% Location.all.each do |y|%>
  <option value="<%= y.id%>" <% if params["location_id"].to_i == y.id %> selected <%end%> > <%=y.name%> <% if y.retail%>- Retail<%end%></option>
  <%end%>
  </select></li>

<!-- Creates form fields to enter name, cost, and quantity of new product -->  
  <li>Name - <input type="name" name="name" value="<%= params["name"] %>"placeholder="Enter name of new product"></li>
  
  <li>Cost - <input type="number" step="0.01" name="cost" value="<%= params["cost"] %>"placeholder="Enter cost"></li>
  
  <li>Quantity - <input type="number" name="quantity" value="<%= params["quantity"] %>"placeholder="Enter quantity"></li></ul>
  
<input type="submit">
</form>