<!-- Generates separate tables for each location-->

<% Location.all.each do |x|%>
  <table>
    <tr>
      <td><strong><%= x.name%></strong></td>
    </tr>
    <tr>
      <td>Category</td>
      <td>Name</td>
      <td>Cost</td>
      <td>Quantity</td>
    </tr>
  
<!-- Generates a table of products at a location -->

    <% Product.all_at_location(x.id).each do |y|%>
    <tr>
      <td><%= Category.find(y.category_id).type%></td>
      <td><%= y.name%></td>
      <td><%= y.cost%></td>
      <td><%= y.quantity%></td>
    </tr>
    <%end%>
  </table><br><br>
<%end%>

<a href="/menu">Return to main menu</a>