<% Category.all.each do |x|%>
<table><tr><td><%= x.type.capitalize%></td></tr>
  <tr><td>Location</td><td>Name</td><td>Cost</td><td>Quantity</td></tr>
  <% Product.all_in_category(x.id).each do |y|%>
  <tr><td><%= Location.find(y.location_id).name%></td><td><%= y.name%></td><td><%= y.cost%></td><td><%= y.quantity%></td></tr>
  <%end%></table><br>
<%end%>
<Br><br>
<a href="/menu">Return to main menu</a>