<% Location.all.each do |x|%>
<table><tr><td><%= x.name%></td></tr>
  <tr><td>Category</td><td>Name</td><td>Cost</td><td>Quantity</td></tr>
  <% Product.all_at_location(x.id).each do |y|%>
  <tr><td><%= Category.find(y.category_id).type%></td><td><%= y.name%></td><td><%= y.cost%></td><td><%= y.quantity%></td></tr>
  <%end%></table><br>
<%end%>
<Br><br>
<a href="/menu">Return to main menu</a>